.*
data/
docs/build
logfile

# Latex
*.aux
*.out
*.toc
*.log
*.bbl
*.blg
*Notes.bib
*.fls
*.fdb_latexmk

# Documents
*.pdf
*.dvi
*.ps

# Python
*.pyc

# Images
*.bmp
*.tiff

# Archives
*.gz
*.zip
*.tar

# Backup files
*.backup
*~

# OS X Noise
.DS_Store
.Trash
